.enemy-container {
  position: relative;
  height: 180px; /* double of 90px */
  width: 70px;
  overflow: hidden;
  transition: z-index linear 0.4s;
  background-size: 70px 90px;
  background-repeat: no-repeat;
}

.enemy-container.z-index-up {
  z-index: 999;
}
.enemy-container.z-index-down {
  z-index: -999;
}

.enemy {
  position: relative;
  height: 100%;
  width: 70px;
  opacity: 0;
  overflow: hidden;
  background-size: 70px 90px;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
}

/* http://stackoverflow.com/questions/7777159/clip-crop-background-image-with-css */
.enemy:before {
  content: '';
  position: absolute;
  height: 90px;
  width: 70px;
  background-image: url('images/apache.png');
}

.enemy .head {
  height: 30px;
  width: 50px;
  left: 15px;
  background-color: orange;
  position: absolute;
  opacity: 0;
}

.enemy .body {
  height: 50px;
  width: 60px;
  left: 5px;
  background-color: brown;
  position: absolute;
  top: 30px;
  opacity: 0;
}

.enemy.show {
  animation-name: show-slide-animation;
  animation-timing-function: cubic-bezier(0,0.63,0.58,1);
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.enemy.hide {
  animation-name: hide-slide-animation;
  animation-timing-function: cubic-bezier(0,0.63,0.58,1);
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.enemy.kill {
  animation-name: kill-flip-animation;
  animation-timing-function: cubic-bezier(0.57, 1.88, 0.21, 0.57);
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes show-slide-animation {
  0% {
    opacity: 0;
    top: 40px;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes hide-slide-animation {
  0% {
    opacity: 1;
    top: 0px;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 70px;
  }
}

@keyframes kill-flip-animation {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
  }

  15% {
    transform: rotateX(0deg);
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotateX(90deg);
  }
}
